.advantages{
  margin: 30px 20px 20px 20px ;
}

.advantages__text{
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  color: $color-primary;
  text-transform: uppercase;
  }

.advantages__title{
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    margin: 0;
}

@media (min-width: $tablet-width) {
  .advantages {
  width: 768px;
  }

}
