.advantages-list{
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .advantages-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
    gap: 35px 20px;
  }
}

@media (min-width: $desktop-width) {
  .advantages-list{
    justify-content: space-around;
    text-align: center;
    padding-left: 26px;
    padding-right: 26px;
  }
}
