.button-slider{
  width: 62px;
  height: 4px;
  background-color: $color-white;
  border: none;

  &--active{
    background-color: $color-primary;
  }

  :hover,
  :focus{
    background-color: $primary-opacity;
  }
}
