.button{
  font-family: $font;
  border: none;
  padding: 12px 20px ;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
}

.button__submit{
  background-color: $color-primary;
  color: $color-white;
  margin-bottom: 10px
};

.button__reset{
  color: $color-primary;
  background-color: $color-white;
}

@media (min-width: $tablet-width) {
.button{
  width: 137px;
}
.button__submit{
   margin: 0;
};
}


.button-slider{
  width: 30px;
  height: 5px;
  background-color: red;
  border: none;

  &--active{
    background-color: aqua;
  }
}

.button-container{
  position: absolute;
  top: 500px;
  left: 500px;
  z-index: 3;
}

