.button-container {
   display: none;
}

@media (min-width: $desktop-width) {
  .button-container {
    display: block;
    position: absolute;
    bottom: 64px;
    left: 619px;
    z-index: 2;
  }
}

