.catalog-pagination{
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 22px;
}

@media (min-width: $tablet-width) {
  .catalog-pagination{
    justify-content: flex-end;
  }
}

@media (min-width: $desktop-width) {
  .catalog-pagination{
    margin-top: 347px;
  }
}
