.catalog-sorting__title{
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.catalog-sorting__select{
  font-family: $font;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color:$color-primary ;
  border: none;
  padding: 4px 0 4px 10px;
  width: 165px;
  background-color: $background-grey;
}

@media (min-width: $tablet-width) {
  .catalog-sorting{
    text-align: end;
    padding-right: 6px;
  }

  .catalog-sorting__select{
    padding-left: 12px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-sorting{
    position: absolute;
    top: 224px;
    right: 41px;
  }
}
