.input-range{
  border: 2px solid $color-primary;
  border-radius: 4px;
  padding: 8px 10px;
  background-color: $color-white;
  width: 118px;
  height: 40px;
  text-align: center;
  box-sizing: border-box;
}

.input-range--min{
  margin-right: 18px;
}

.input-range--max{
  margin-left: 21px;
}


@media (min-width: $tablet-width) {
  .input-range{
    width: 87px;

  }
}
