.input-label{
  font-family: $font;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.input-label:first-child:after{
  content: "";
  width: 8px;
  height: 2px;
  background-color: $color-grey;
  display: block;
  position: absolute;
  top: 17px;
  left: 136px;
}

@media (min-width: $tablet-width) {
  .input-label:first-child:after{
     left: 106px;
  }
}


@media (min-width: $desktop-width) {
  .input-label:first-child:after{
    left: 156px;
    top: 20px;
 }
}
