.main-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 60px;
  box-sizing: border-box;
  position: relative;
}

.main-header__logo{
  padding: 8px 20px;
}

@media (min-width: $tablet-width) {
  .main-header{
    width: 768px;
     }
}

