.map{
  position: relative;
}

.map__img{
  display: block;
}

.map__pin{
  position: absolute;
  top: 44%;
  left: 49%;
}

@media (min-width: $tablet-width) {
  .map__img {
    width: 768px;
    height: 480px;
  }

  .map__pin{
    left: 50%;
  }

  .map{
    margin-bottom: 20px;
  }
}

@media (min-width: $desktop-width) {
  .map__img {
    width: 1440px;
    height: 540px;
  }

  .map{
    margin-bottom: 40px;
  }
}
