.pagination-button--previous{
  border: none;
  background: url("/images/arrow-left.svg") no-repeat;
  height: 10px;
  cursor: pointer;
}



.pagination-button--next{
  border: none;
  background: url("/images/arrow-right.svg") no-repeat;
  height: 10px;
  cursor: pointer;
}
