.product-item{
  padding: 20px;
  text-align: left;
  background-color: $color-white;
  margin-bottom: 20px;
}

.product-item__title{
  font-size: 18px;
  line-height: 32px;
  margin: 0;
  padding-bottom: 4px;
}

.product-item__img{
  padding: 40px 55px 24px;

}

.product-item__description{
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  width: 235px;
  padding-bottom: 4px;
}
