.product-list{
  padding: 0;
  margin-bottom: 39px;
}

@media (min-width: $tablet-width) {
  .product-list{
    display: grid;
    grid-template-columns: repeat(2, 350px);
    justify-content: space-between;
    row-gap: 31px;
    margin-top: 30px;
    margin-bottom: 73px;
  }
}

@media (min-width: $desktop-width) {
  .product-list{
    grid-template-columns: repeat(3,317px);
    width: 1006px;
    position: absolute;
    top: 278px;
    left: 388px;
  }
}
