.product-list{
  padding: 0;
  margin-bottom: 39px;
}


@media (min-width: $tablet-width) {
  .product-list{
    display: grid;
    grid-template-columns: repeat(2, 350px);
    justify-content: space-between;
    gap: 20px;
  }
}
